@import '../../styles/variables';

.menu{
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.innerMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 5rem;
}

.leftButton{
    // background-color: $primary-light;
    background-color: $primary;
    transform: translateY(40%);
    margin-top: 1.2rem;
    color: white;
    font-weight: bold;
    margin-right: 2rem;
    // border-top: 5px solid $primary-dark;
}

.rightButton{
    // background-color: $primary-light;
    background-color: $primary;
    transform: translateY(40%);
    margin-left: 2rem;
    margin-top: 1.2rem;
    color: white;
    font-weight: bold;
    // border-top: 5px solid $primary-dark;
}

.mainButton{
    background-color: $primary-light;
    border: 5px solid $primary-dark;
    border-radius: 90%;
    height: 7rem;
    width: 7rem;
    z-index: 2;
    display: flex;
    line-height: 5rem;
    justify-content: center;
    color: white;
}

.testMenu{
    // background-color: $primary-light;
    background-color: $primary;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5rem;
    transform: translateY(40%);
    border-top: 5px solid $primary-dark;
}


.options{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
}

.optionItem{
    background-color: $primary-light;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
}

.menuAddIcon{
    transition: all 0.5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    svg{
        height: 100%;
        width: 100%;
    }
}

.menuAddIconRotate{
    transform: rotate(205deg);
}