@import '../variables';

.buildingPage{
    width: 50rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    .buildingName{
        background-color: $primary;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .stats{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }
    .tabs{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
    .noTasksText{
        display: flex;
        justify-content: center;
        padding: 1rem;
        color: $primary-dark;
    }
    .membersList{
        margin-top: 2rem;
    }
    .addTaskButton{
        margin-top: 0.2rem;
        background-color: white;
        border: none;
        padding: 0.4rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        color: rgb(94, 189, 94);
        cursor: pointer;
        font-weight: bold;
        &:hover{
            color: lightgreen;
        }
    }
    .generateInviteContainer{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        align-items: center;
        justify-content: center;
        .input{
            height: 100%;
            width: 41%;
        }
        .generateCodeButton{
            display: flex;
            align-items: center;
            // border: 1px solid $primary-light;
            height: 100%;
            padding: 0.4rem;
            // border-radius: 10px;
            cursor: pointer;
        }
        .copyCodeButton{
            padding: 0.4rem;
            cursor: pointer;
        }
    }
    .copiedChipContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.4rem;
    }
    .leaveBuildingButton{
        width: 7rem;
        height: 2rem;
        margin-top: 0.2rem;
        border-radius: 5px;
        border: 1px solid darkred;
        background-color: lightcoral;
        color: white;
        cursor: pointer;
        &:hover{
            background-color: rgb(160, 71, 71);
        }
    }
}