@import '../variables';

.registerPage{
    width: 25rem;
    margin: auto;
    margin-top: 5rem;
    .input{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .registerTitle{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        border-bottom: 1px solid $primary-dark;
        padding-bottom: 1rem;
    }
    .textWithLink{
        color: $primary-dark;
        .link{
            color: $primary-dark;
            text-decoration: none;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .promoCodeFormTitle{
        color: $primary-darkest;
        padding: 0.5rem;
    }
    .stepper{
        width: 25rem;
    }
}