@import '../variables';

.registerPage{
    width: 25rem;
    margin: auto;
    margin-top: 5rem;
    .input{
        width: 100%;
        margin-top: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .registerTitle{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        // border-bottom: 1px solid $primary-dark;
        background-color: $primary;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: white;
    }
    .textWithLink{
        color: $primary-dark;
        font-size: 14px;
        .link{
            color: $primary-dark;
            text-decoration: none;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .promoCodeFormTitle{
        color: $primary-darkest;
        padding: 0.5rem;
    }
    .stepper{
        width: 25rem;
    }
}

.registerComplete{
    .registerCompleteTitle{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .registerCompleteText{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        margin-top: 1rem;
    }
    // .registerCompleteLink{
    //     text-decoration: none;
    //     color: black;
    // }
    .registerCompleteButtons{
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 0.5rem;
        .registerComplete--cancelButton{
            height: 2rem;
            width: 5rem;
            background: none;
            border: 3px solid $primary;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: $primary;
                color: white;
                a{
                    color: white;
                }
            }
            a{
                text-decoration: none;
            }
        }
        .registerComplete--acceptButton{
            height: 2rem;
            width: 7rem;
            background-color: yellowgreen;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: darkgreen;
            }
        }
    }
}