.loginForm{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    .input{
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .loginButton{
        height: 2rem;
        border-radius: 5px;
        width: 7rem;
        border: 1px solid lightgray;
        cursor: pointer;
    }
    .loginFormTitle{
        margin-bottom: 0.5rem;
    }
    .textWithLink{
        color: $primary-dark;
        .link{
            color: $primary-dark;
            text-decoration: none;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}