



// $primary: #457B9D;
$primary: #5496BF;
$primary-dark: #396D8D;
$primary-darkest: #1C3240;
$primary-light: #a7c5d8;
$primary-lightest: #B1D1E6;

$primary-logout: #F5B011;

$primary-delete: #ca4949;

$task-status--inProgress: #F0C407;
$task-status--completed: yellowgreen;