@import 'variables';

:root{
    --breakpoint-sm: 30em;
    --breakpoint-md: 48em;
    --breakpoint-lg: 62em;
    --breakpoint-xl: 80em;
    --breakpoint-2xl: 96em;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    font-size: 16px;
}

.page{
    position: relative;
    min-height: 100vh;
    // margin-bottom: 10rem;
}

.pageCoverDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.dataProviderPageCover{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.2;
}

.clickable{
    cursor: pointer
}

.loadingSpinner{
    position: absolute;
    width: 4rem;
    top: 50%;
    left: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    z-index: 10;
}

.lowerOpacity{
    opacity: 0.4;
}

.bold{
    font-weight: bold;
}

@import './partials/LoginForm.scss';
@import './partials/LandingPage.scss';
@import './partials/BuildingPage.scss';
@import './partials/RegisterPage.scss';